*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
    color:rgb(236, 220, 220);
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #212121;
}

.container
{
    position:relative;

}
.clock
{
    width:300px;
    height:300px;
    border-radius: 50%;
    background-color: rgba(28, 31, 29, 0.1);
    border: 2px solid rgba(27, 121, 50, 0.25);
    box-shadow: 0px,0px,300px rgba(238, 210, 210, 0.9);
    display:flex;
    justify-content: center;
    align-items: center;
}

.clock span
{
    position: absolute;
    transform: rotate(calc(30deg *var(--i)));
    inset: 12px;
    text-align: center;
    box-shadow: #fff;
}
.clock span b{
    position: absolute;
    transform: rotate(calc(-30deg * var(--i)));
}
.clock::before
{
    position: absolute;
    content:'';
    width:8px;
    height:8px;
    border-radius:50%;
    background-color: #fff;
}

.hand{
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: flex-end;
}
.hand i
{
    position: absolute;
    width: 8px;
    height:var(--h);
    border-radius: 20px;
    background-color:var(--clr);
}
